.left {
  background-image: url("../../../assets/Group 688.svg"), url("../../../assets/Vector (1).svg"), url("../../../assets/Vector.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left bottom, right bottom, right top;
}

