:root {
    --primary-color: #009EE2;
    --primary-color-light: #E7F2F5;
    --secondary-color: #F2F2F2;
    --text-color: #333333;
    --error-color: #EA4335;
    --success-color: #34A853;
    --warning-color: #FBBC04;
}
